.kanban__inner__title {
  font-size: 18px;

  .kanban__inner__board {
    background-color: @gray-board;
    width: 312px;
    height: auto;
    border-radius: 8px;
    padding: 11px 11px 22px;
  }
}
