.kanban__inner__title {
  font-size: 18px;
  flex-grow: 0;

  .kanban__inner__icon {
    margin-left: 12px;
    margin-bottom: 2.5px;
  }

  .kanban__inner__board {
    background-color: @gray-board;
    width: 314px;
    height: 100%;
    border-radius: 8px;
    padding: 5px 0 6px 6px;
    margin-top: 8px;
  }
}

.kanban__divider {
  height: 100%;
  margin-left: 75px;
}
